.venv
__pycache__/
/*.html
/tmp/

# Frontend build
src/spyCNV/frontend/node_modules/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv
.envrc

# pre-commit
.pre-commit-config.yaml
