<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ sample_id }}</title>
        <style>
         body { margin: 0; font-family: sans-serif; }
         #visualization { width: 100%; height: 100vh; }
        </style>
    </head>
    <body>
        <h1>{{ sample_id }}</h1>
        <div id="visualization"></div>
        <script>{{ genomespy_js | safe }}</script>

        <script>
         {{ plots.ideogram }}
         {{ plots.logratio }}
         {{ plots.baf }}
         {{ plots.geneAnnotation }}

         const cytobandData = {{ data.cytoband | tojson }};
         const logratioData = {{ data.logratio | tojson }};
         const bafData = {{ data.baf | tojson }};
         const refseqGenes = {{ data.refseq | tojson }};
         const spec = {
             "genome": { "name": "hg19" },
             "vconcat": [
                 ideogramTrack(cytobandData),
                 logratioTrack(logratioData),
                 bAlleleFrequencyTrack(bafData),
                 geneAnnotationTrack(refseqGenes)
             ]
         };

         genomeSpyEmbed.embed(document.getElementById("visualization"), spec);
        </script>
    </body>

</html>
